<% layout('/layouts/boilerplate') %> 
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
<main class="px-3">
    <h1>YelpCamp</h1>
    <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
        Feel free to share some of your own and comment on others!</p>
    <a href="/campground" class="btn btn-lg btn-secondary font-weight-bold border-white">View
        Campgrounds</a>
</main>
</div>
